/*---- Universal Styles ----*/
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Ruta", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*---- Header Styles ----*/
header {
    height: 6rem;
    display: flex;
    align-items: center;
    font-family: "Cutive Mono", 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

header img {
    height: 100%;
    margin-right: auto;
}

nav ul {
    margin-right: 2rem;
}

nav li {
    list-style: none;
    display: inline-block;
    opacity: 70%;
    /* border-radius: 12px; */
}

nav li a:hover {
    opacity: 100%;
    transition: opacity 1s;
}

nav li a {
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem;
    background-image: linear-gradient(to left, rgb(255, 255, 255) 2%, rgb(187, 187, 187));
    text-decoration: none;
    color: rgb(26, 26, 26);
    opacity: 70%;
    transition: opacity 1s;
    font-weight: 800;
}

#join-us {
    font-family: "Rubik Wet Paint", "UnifrakturMaguntia", "Rubik Microbe", "Nosifer", "Cutive Mono", 'Times New Roman', Times, serif;
    font-weight: 400;
}

/* Header <780px Styles */
@media only screen and (max-width: 780px) {
    header {
        height: 10rem;
    }

    header img {
        height: 70%;
    }

    #nav-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 20rem;
        width: 20rem;
        overflow: clip;
    }

    nav {
        position: absolute;
        top: 0;
        right: -11rem;
        transform: rotate(40deg);
        overflow: clip;
        z-index: 2;
    }

    nav ul {
        margin: 0;
        overflow: clip;
    }

    nav li {
        display: table;
        text-align: center;
    }

    nav li a {
        display: table-cell;
        margin: 0;
        padding: .7rem 12rem;
        overflow: hidden;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 2%, rgb(187, 187, 187));
    }
}

/*---- Banner Styles ----*/
#banner {
    background-image: url("../images/banner2.jpg");
    background-size: cover;
    display: flex;
    height: 20rem;
    align-items: center;
}

.blurb {
    height: 90%;
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.651) 90%);
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurb h2, p {
    margin: auto .5rem;
}

.blurb p {
    margin-top: 1rem;
}

.box {
    width: 80%;
    text-align: center;
}

.quotebox {
    display: flex;
}

.transition {
    width: 5%;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.651), black, rgba(255, 255, 255, 0.651));
    opacity: 90%;
}

/* Below doesn't work as intended, but perhaps in the context of a flexbox it would */
/* .quote::before {
    content: "test";
    display: inline-block;
    width: 5%;
    background-color: white;
    position: relative;
    left: -1rem;
    top: 1rem;
} */

.quote {
    display: inline-block;
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0.651) 90%);
    opacity: 90%;
    width: 100%;
}

.quote h2 {
    margin-right: .5rem;
}

/* Banner <540px Styles */
@media only screen and (max-width: 780px) {
    #banner {
        flex-wrap: wrap;
        height: unset;
        min-height: 18rem;
        overflow: clip;
    }

    .blurb {
        background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.651) 90%);
    }

    .quotebox {
        flex-wrap: wrap;
        flex: 0 0 100%;
        width: 100%;
    }

    .transition {
        flex: 0 0 100%;
        height: 2rem;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.651), black, rgba(255, 255, 255, 0.651));
    }

    .quote {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0.651) 90%);
    }

    .quote h2 {
        width: 80%;
    }
}

/*---- Services Styles ----*/
#services h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
}

.service-container {
    display: flex;
    color: white;
    width: 90%;
    transition: width 1s .1s;
    padding: 2rem 0;
    margin: 2rem 0;
    align-content: center;
    border-radius: 0 30px 2px 0;
}

.service-container:hover {
    transition: width 1s .1s;
    width: 99%;
}

.business.service-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.158)),url("../images/business.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.brand.service-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.158)),url("../images/brand.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.money.service-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.158)),url("../images/money.jpg");
    background-size: cover;
}

.service {
    padding-bottom: 1rem;
    text-shadow: 2px 2px 2px black;
}

.service h3, p {
    margin-left: 1rem;
}

.service h3 {
    font-size: 1.5rem;
}

.service p {
    font-size: 1.1rem;
}


/*---- Employees Styles ----*/
#employees {
    display: flex;
    flex: 1;
    width: 100%;
}

#team-header {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

#team-header h1 {
    margin: 0;
}

.employee {
    flex: 1;
    background-image: linear-gradient(to right, rgb(181, 181, 238), rgba(17, 21, 22, 0.096));
    text-align: center;
    padding: 2rem;
    margin: 0 2rem 2rem;
    border-radius: 5px;
}

.image-container {
    width: 100%;
    height: 15rem;
    margin: 1rem auto;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.josh .image-container img {
    object-fit: cover;
    object-position: 70% 50%;
}

.kevin .image-container img {
    object-fit: cover;
    object-position: 70% 100%;
}

.daniel .image-container img {
    object-fit: cover;
    object-position: 70% 0;
}

/* Employees <780px Styles */
@media only screen and (max-width: 780px) {
    .image-container {
        height: 5rem;
    }

    .employee h3 {
        margin: 0 0 .5rem;
    }

    #employees {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .employee {
        flex: 0;
        margin: 0 1rem 2rem;
        height: 12rem;
        flex-basis: 12rem;
    }
}

/*---- Footer Styles ----*/
footer {
    display: grid;
    height: 3rem;
    background-color: rgb(181, 181, 238);
    align-content: center;
    justify-content: start;
}

footer p {
    margin-right: 25rem;
}

footer a {
    position: absolute;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}

/* Footer <670px Styles */
@media only screen and (max-width: 670px) {
    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer p {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    footer a {
        position: static;
    }

}