* {
    text-align: center;
    background-color: #008081;
    font-family: sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

header h1 {
    text-align: center;
    font-family: 'Workbench', sans-serif;
}

nav {
    text-align: center;
    background-color: #010080;
    margin: 50px auto;
    padding: 25px 0;
    position: sticky;
    display: flex;
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    background-color: inherit;
    margin: auto;
}

nav li {
    display: inline-block;
    background-color: inherit;
    margin: auto;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    background-color: #010080;
    color: white;
}
nav img {
    width: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 10px;
}

caption {
    margin-bottom: 15px;
}

footer {
    background-color: #010080;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer p {
    background-color: #010080;
    color: white;
}

.lt, .gt {
    color: red;
    background-color: inherit;
}

.semtable {
    display: inline-block;
}

#semantic thead th {
    background-color: #64b9d3;
    border: 2px solid #444428;
    /* border-top: 2px solid; */
    /* border-image: linear-gradient(to left, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5; */
}

tbody th {
    background-color: #c0c0c0;
    border: 2px solid black;
}

tbody td {
    background-color: black;
    color: #00ff00;
    border: 2px solid black;
    padding: 10px 5px;
    font-family: 'Courier New', Courier, monospace;
}

tbody td:last-child {
    color: #bbbdbc;
    background-color: #808080;
    font-family: sans-serif;
}