@font-face {
    font-family: "W95FA";
    src: url(../fonts/w95fa.woff2) format('woff2'),
         url(../fonts/w95fa.woff) format('woff'),
         url(../fonts/W95FA.otf) format('opentype');
}

* {
    background-color: #60a8a9;
    /* border: 1px solid black; */
}

h1 {
    color: black;
    font-family: "W95FA",sans-serif;
    font-size: 40px;
}

h2 {
    background-color: transparent;
}

h3 {
    background-color: transparent;
}

figcaption {
    font-family: "W95FA", sans-serif;
    font-size: 12px;
    display: table-caption;
    caption-side: top;
    color: white;
    margin-bottom: 3px;
    margin-left: 5px;
    background-color: transparent;
}

nav li {
    display: inline;
    list-style: none;
    margin: 0 16px;
}

.container {
    border: 10px solid transparent;
    border-image: url("../images/activewindowborder.png") 27 / 27px 27px 27px 27px / 22px 3px 3px 3px round;
    margin: 2rem 0;
    background-color: #c4c7cb;
    min-width: 21rem;
    max-width: 60rem;
    display: grid;
}

.colors, .fonts, .styles {
    background: transparent;
}

.color-container {
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 32%;
    min-width: 15rem;
    background-color: transparent;
    align-self: center;
}

/* .titlecolor::before {
    content: "Active title color";
    position: relative;
    top: -1.8rem;
} */

.color {
    width: 10rem;
    height: 10rem;
    margin: 2rem 25% 2rem 25%;
    font-family: 'Courier New', Courier, monospace;
    display: table;
    border: 10px solid transparent;
    border-image: url("../images/activewindowborder.png") 27 / 27px 27px 27px 27px / 22px 3px 3px 3px round;
}

.color p {
    background-color: transparent;
}

.inactive {
    border: 10px solid transparent;
    border-image: url("../images/inactivewindowborder.png") 27 / 27px 27px 27px 27px / 22px 3px 3px 3px round;
    color: #c4c7cb;
}

.color p {
    text-align: center;
}

.bgcolor {
    background-color: #61a9aa;
}

.titlecolor {
    background-color: #1d00a8;
    color: white;
}

.windowbg {
    background-color: #c4c7cb;
}

.inactivetitle {
    background-color: #878a8e;
}

.font {
    width: 20rem;
    height: 10rem;
    display: table;
    text-align: center;
    background-color: white;
    border: 10px solid transparent;
    border-image: url("../images/inactivewindowbordercontrols.png") 27 56 27 27 / 27px 56px 27px 27px / 22px 3px 3px 3px round;
}

.fonts {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.font-container {
    margin: 2rem 33%;
    width: 32%;
    min-width: 15rem;
    background-color: transparent;
}

.font p {
    background-color: transparent;
}

.bannerfont {
    font-family: 'Workbench', sans-serif;
}

.codefont {
    font-family: 'Courier New', Courier, monospace;
}

.titlefont {
    font-family: "W95FA",sans-serif;
}

.wcontrols {
    position: relative;
    right: -95.5%;
    bottom: 183%;
}

p.caption {
    position: relative;
    top: -36px;
    left: -6px;
    background-color: transparent;
    font-family: "W95FA", sans-serif;
    font-size: 12px;
    color: white;
    text-align: left;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}